@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    .primary-btn {
        @apply py-3 px-4 text-secondary-1 text-button bg-primary-4 rounded
            hover:outline-white 
            hover:text-primary-2
            active:bg-primary-3
    }

    .secondary-btn {
        @apply py-3 px-4 text-secondary-1 text-button bg-primary-4 rounded
            hover:outline-white 
            hover:text-primary-2
            active:bg-primary-3
    }
}